*{
    box-sizing: border-box;
}

.sociallinks li{
list-style-type: none;
}
.sociallinks a{
    text-decoration: none;
    color: white;
}

.para{
    color: white;
    font-size: 13px;
    font-family: Arial;
}

.buttons li{
    list-style-type: none;
}
.buttons a{
    text-decoration: none;
    color: green;
    border: 1px solid green;
    background-color: rgb(248, 248, 248);
}

.myul{
    margin-right: 100px;
}
.navbar a{
    border-radius: 20px;
}
.myactive a{
    color: white !important;
    background-color: royalblue;
}

.myul a:hover{
background-color: royalblue;
color: white !important;
}


/* HEADLINE */

.centerline{
    display: flex;
    background-color: rgb(49, 109, 195);
    margin: 10px 50px;
    color: white;
}
.centerline a{
    color: lawngreen;
}

/* INTRODUCTION */



.intro{
    text-align: center;
    background-color: rgb(247, 248, 250);   
}
.intro h1{
    color: rgb(49, 109, 195)
}
.intro span{
    color:rgb(66, 121, 0)
}
.intro-para{
  text-align: justify;
  font-size: 10pt;
  line-height: 20px;
  color: black;
} 

/* COUNTER */

.main-counts span{
    color:lawngreen;
    font-size: 16px;
    font-weight: bold;
}

/* WHAT WE ARE DOING */


.doing{

    background-color: whitesmoke;
    text-align: center;
    
} 

.doing h2{
    color: rgb(49, 109, 195);
    font-size: 35px;
    font-weight: bold;
}

.doing span{
    color:rgb(66, 121, 0);
    font-size: 35px;
    font-weight: bold;
}

.doing h4{
    color: rgb(49, 109, 195);
    font-size: 25px;
    font-weight: bold;
}
.doings{
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px 3px #777777;
    margin-left: 65px;
    background-color:white;
}


/* UPCOMINGS */



.comments{
    background-color: #F7F8FA;
    border: 1px solid #EEEEEE;
    font-size: 7px;
   padding:10px;
   margin-bottom: 20px;
    }
 .pics{
     margin-left: 10px;
     margin-top: 10px;
 } 
 .allitems{
    margin-top: 50px;
 }
 .items{
     margin-top: 30px;
 }
 

/* Contact */

.para{
    color: #a6a6a8;
    text-align: left;  
    font-size: 14px;
}

.contact-ul{
    color: #a6a6a8;
    text-align: left;
}

.contact-ul li{
    list-style-type: none;
    padding: 1px;
    font-size: 15px;
}
.contact-ul a{
    color: green;
    padding-right: 6px;
    font-size: 15px;
}


.g{
    border-bottom: 2px solid rgb(19, 122, 19);
    width: 30px;
}
.r{
    border-bottom: 1px solid lightslategray;
    width: 200px;
}

.contact-with-us{
    color: white;
    font-size: 15px;

}